.game{
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.board{
    display:grid;
    width:500px;
    height:500px;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    gap:2px;
}
.cell{
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid #ddd5d5;;
    font-size:50px;
    font-weight:bold;
    cursor:pointer;
}
.cell.is-o{
    color:blue;
}
.cell.is-x{
    color:#f00;
}
.result{
    margin-top: 30px;
    color: green;
    font-weight: bold;
    font-size: 30px;
}
.reset{
    margin-top: 20px;
    padding: 10px 60px;
    border: none;
    background: #f54f00;
    color: #fff;
    cursor:pointer;
}